{% extends 'imports.html' %}
{% from './macros/tag_form.html' import tag_form with context %}
{% from './macros/tag_form_modal.html' import tag_form_modal with context %}

{% block head %}
<script src="/static/js/humanize.js"></script>
{% endblock %}
{% block content %}
{{tag_form_modal()}}

<style>
    .top_image_holder {
        width: 100%;
        height: 200px;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        flex-flow: column
    }

        .top_image_holder > img {
            height: 100%;
            width: auto;
        }

        .top_image_holder > .overlay {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 55;
            background: rgba(0,0,0,.4);
            display: flex;
            justify-content: center;
            align-items: center;
        }

    .options_list {
        position: absolute;
        top: 0;
        right: 0;
        margin: 1em;
        z-index: 4;
    }

    .checkmark__circle {
        stroke-dasharray: 166;
        stroke-dashoffset: 166;
        stroke-width: 2;
        stroke-miterlimit: 10;
        stroke: #7ac142;
        fill: none;
        animation: stroke 0.6s cubic-bezier(0.65, 0, 0.45, 1) forwards;
    }

    .checkmark {
        width: 56px;
        height: 56px;
        border-radius: 50%;
        display: block;
        stroke-width: 2;
        stroke: #fff;
        stroke-miterlimit: 10;
        margin: 10% auto;
        box-shadow: inset 0px 0px 0px #7ac142;
        animation: fill .4s ease-in-out .4s forwards, scale .3s ease-in-out .9s both;
    }

    .checkmark__check {
        transform-origin: 50% 50%;
        stroke-dasharray: 48;
        stroke-dashoffset: 48;
        animation: stroke 0.3s cubic-bezier(0.65, 0, 0.45, 1) 0.8s forwards;
    }

    @keyframes stroke {
        100% {
            stroke-dashoffset: 0;
        }
    }

    @keyframes scale {
        0%, 100% {
            transform: none;
        }

        50% {
            transform: scale3d(1.1, 1.1, 1);
        }
    }

    @keyframes fill {
        100% {
            box-shadow: inset 0px 0px 0px 30px #7ac142;
        }
    }
</style>
<script>
    window.is_showing_more = false;
    function show_more() {
        if (window.is_showing_more) {
            window.is_showing_more = false;
            $('.top_image_holder').animate({ 'height': '-=225px' });
        } else {
            window.is_showing_more = true;
            $('.top_image_holder').animate({ 'height': '+=225px' });
        }

    }

    {% if request.args.get('terms', '0') == "1" %}
    show_notification('You must agree to the terms before uploading', 'is-error')
    {% endif %}
</script>
<div class="top_image_holder box" style="display:none;">
    <img src="" id="new_image_holder" />
    <h1 class="subtitle" id="new_image_blury" style="display:none;margin-bottom:0;margin-top:1em;">Heads up! This image may be blury when shown to users with larger screens!</h1>
    <div class="options_list">
        <a onclick="show_more()" style="font-size:2em;"><i class="fas fa-search"></i></a>
    </div>
    <div class="overlay is-hidden">
        <svg class="" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 52 52"><circle class="checkmark__circle" cx="26" cy="26" r="25" fill="none" /><path class="checkmark__check" fill="none" d="M14.1 27.2l7.1 7.2 16.7-16.8" /></svg>
    </div>
</div>
<div class="box">
    <h1 class="title">Upload</h1>
    <h2 class="subtitle">Upload a new image for the world to enjoy!</h2>

    <form method="post" enctype="multipart/form-data" id="new_image_form">
        <div class="field is-centered" style="flex-flow:column;">
            <div class="file has-name">
                <label class="file-label">
                    <input class="file-input" type="file" name="image" id="upload" required>
                    <span class="file-cta">
                        <span class="file-icon">
                            <i class="fas fa-upload"></i>
                        </span>
                        <span class="file-label">
                            Choose a file…
                        </span>
                    </span>
                    <span class="file-name" id="filename">
                        No file
                    </span>
                </label>
            </div>
            <p><span id="file_size">0MB</span> / 8MB max</p>
        </div>
        <div class="field is-horizontal">
            <div class="field-body">
                <div class="field">
                    <p class="control is-expanded">
                        <label class="label">Source URL</label>
                        <input class="input" name="source" type="text" placeholder="Source URL">
                        <span class="help"></span>
                    </p>
                </div>
                <div class="field">
                    <p class="control is-expanded">
                        <label class="label">Rating</label>
                        <span class="select is-expanded">
                            <select name="rating">
                                <option value="e" selected>[E] Explicit</option>
                                <option value="m">[M] Mature</option>
                            </select>
                        </span>
                        <span class="help"></span>
                    </p>
                </div>
            </div>
        </div>

        {{tag_form()}}

        <script>
            $('#upload').on('change', function () {
                // output raw value of file input
                $('#filename').html($(this).val().replace(/.*(\/|\\)/, ''));

                // or, manipulate it further with regex etc.
                var filename = $(this).val().replace(/.*(\/|\\)/, '');


                $('#filename').text(filename);
            });
            window.addEventListener('load', function () {
                document.querySelector('input[type="file"]').addEventListener('change', function () {
                    if (this.files && this.files[0]) {
                        $('#new_image_blury').css('display', 'none')
                        var img = $('.top_image_holder > img')[0];
                        console.log(img)
                        var file = this.files[0]
                        img.src = URL.createObjectURL(file); // set src to file url
                        img.onload = function () {
                            $('.top_image_holder').css('display', 'flex');
                            $('.overlay').removeClass('is-hidden');
                            $('.overlay > svg').addClass('checkmark');
                            setTimeout(function () { $('.overlay').fadeOut(); }, 1700)
                            if (this.naturalWidth < 250) {
                                // image might be blury
                                $('#new_image_blury').css('display', 'block')
                            }
                        }
                        $('#file_size').text(Humanize.fileSize(file.size))
                    }
                });
            });

        </script>
        <hr />
        <label class="checkbox">
            <input type="checkbox" name="terms" required>
            I agree that my image does not break any of the rules inside QuartzBoard's <a href="/terms">terms of service</a>.
        </label>

        <br /><br /><button class="button is-success" id="submit_form">Upload</button><br />
        <a href="/upload/bulk">Have more than 1 image? Try uploading via the bulk uploader!</a>
    </form>
    <script>
        $('#submit_form').click(function () {

            $('#new_image_form').submit();
        })
    </script>
</div>
{% endblock %}