{% extends 'imports.html' %}
{% block content %}

<div class="modal">
    <div class="modal-background"></div>
    <div class="modal-content">
        <div class="box">
            <h2 class="title">New tag</h2>
            <form id="new_tag_form">
                <p>So, this is weird. We couldnt find a tag with that name. We kindly ask you to explain to us the tag itself so that we may organise it better</p>
                <input class="tag_name" name="tag_name" hidden />
                <div class="control">
                    <p><b>Type</b> - This is what the tag is based on.</p>
                    <div class="select">
                        <select name="type" class="type_switcher">
                            <option value="none" selected="selected">Select a type</option>
                            <option value="character">Character</option>
                            <option value="fandom">Fandom</option>
                            <option value="kink">Kink</option>
                            <option value="author">Author</option>
                        </select>
                    </div>
                </div>
                <br />
                <div class="type option_character is-hidden control">
                    <p><b>Character Fandom</b> - Optional. But it will help us organise better</p>
                    <input class="input" name="fandom" placeholder="Fandom" />
                </div>
                <br />
                <a class="button is-success new_tag_confirm">Confirm</a>
            </form>
        </div>
    </div>
    <button class="modal-close is-large" aria-label="close"></button>
</div>

<style>
    .top_image_holder {
        width:100%;
        height:200px;
        display:flex;
        align-items:center;
        justify-content:center;
        position:relative;
    }
    .top_image_holder > img {
        height:100%;
        width:auto;
    }
    .top_image_holder > .overlay {
        position:absolute;
        top:0;
        left:0;
        width:100%;
        height:100%;
        z-index:55;
        background:rgba(0,0,0,.4);
        display:flex;
        justify-content:center;
        align-items:center;

    }

    .options_list {
        position:absolute;
        top:0;
        right:0;
        margin:1em;
        z-index:4;
    }

    .checkmark__circle {
        stroke-dasharray: 166;
        stroke-dashoffset: 166;
        stroke-width: 2;
        stroke-miterlimit: 10;
        stroke: #7ac142;
        fill: none;
        animation: stroke 0.6s cubic-bezier(0.65, 0, 0.45, 1) forwards;
    }

    .checkmark {
        width: 56px;
        height: 56px;
        border-radius: 50%;
        display: block;
        stroke-width: 2;
        stroke: #fff;
        stroke-miterlimit: 10;
        margin: 10% auto;
        box-shadow: inset 0px 0px 0px #7ac142;
        animation: fill .4s ease-in-out .4s forwards, scale .3s ease-in-out .9s both;
    }

    .checkmark__check {
        transform-origin: 50% 50%;
        stroke-dasharray: 48;
        stroke-dashoffset: 48;
        animation: stroke 0.3s cubic-bezier(0.65, 0, 0.45, 1) 0.8s forwards;
    }

    @keyframes stroke {
        100% {
            stroke-dashoffset: 0;
        }
    }

    @keyframes scale {
        0%, 100% {
            transform: none;
        }

        50% {
            transform: scale3d(1.1, 1.1, 1);
        }
    }

    @keyframes fill {
        100% {
            box-shadow: inset 0px 0px 0px 30px #7ac142;
        }
    }

</style>
<script>
    window.tags = []
    $('.modal-background').click(function () {
        $('.modal').removeClass('is-active');
        reopen_tag_button()
    })
    $('.modal-close').click(function () {
        $('.modal').removeClass('is-active');
        reopen_tag_button()
    })
    function clean_up() {
        $('#tag_add').removeClass('is-loading');
        $('.modal').removeClass('is-active');
        $('#tag_name').val('')
    }

    function findObjectByKey(array, key, value) {
        for (var i = 0; i < array.length; i++) {
            try {
                if (array[i][key] === value) {
                    return array[i];
                }
            } catch (error) {
                console.log('rip')
            }
        }
        return null;
    }
    function deleteObjectByKey(array, key, value) {

        for (var i = 0; i < array.length; i++) {
            try {
                if (array[i][key].toString() === value.toString()) {
                    array[i] = null;
                }
            } catch (err) { }
        }
        return array
    }

    function remove_tag(tagID) {
        window.tags = deleteObjectByKey(window.tags, 'tagID', tagID);
        console.log(window.tags);
        render_tags();
    }

    function show_tag_form(tag_name) {
        var form = $('#new_tag_form');
        form.find('.tag_name').val(tag_name);
        $('.type_switcher').change(function () {
            $('.type').addClass('is-hidden');
            $('.option_' + this.value).removeClass('is-hidden');
        })
        $('.new_tag_confirm').click(function () {
            $.ajax({
                url: '/api/tags/create',
                method: 'POST',
                data: $('#new_tag_form').serialize()
            }).done(function (resp) {
                if (resp['success']) {
                    window.tags.push(resp['tag']);
                    render_tags();
                }
            })
        })
        $('.modal').addClass('is-active');
    }

    function add_tag_to_server() {
        var tag_name = $('#tag_name').val();
        $('#tag_add').addClass('is-loading');
        $.ajax({
            url: '/api/tags/check',
            method: 'POST',
            data: { 'tag_name': tag_name }
        }).done(function (data) {
            if (data['success']) {
                clean_up()



                if (data['needs_adding']) {
                    show_tag_form(tag_name);
                } else {
                    if (findObjectByKey(window.tags, 'tagID', data['tag']['tagID'])) {
                        show_notification('You have already added this tag!', 'is-warning')
                        return
                    }
                    // add tagID to window.tags
                    window.tags.push(data['tag']);
                    render_tags();
                }
            }


        })

    }
    function render_tags() {
        // clean up and re-render window.tags
        var holder = $('.tag_holder');
        $.ajax({
            url: '/api/tags/render_tag_list',
            method: 'POST',
            contentType: 'application/json; charset=utf-8',
            dataType: 'json',
            data: JSON.stringify(window.tags)
        }).done(function (resp) {
            console.log(resp)
            holder.html(resp['html'])
        })
    }
    window.is_showing_more = false;
    function show_more() {
        if (window.is_showing_more) {
            window.is_showing_more = false;
            $('.top_image_holder').animate({ 'height': '-=225px' });
        } else {
            window.is_showing_more = true;
            $('.top_image_holder').animate({ 'height': '+=225px' });
        }

    }

    {% if request.args.get('terms', '0') == "1" %}
    show_notification('You must agree to the terms before uploading', 'is-error')
    {% endif %}
</script>
<div class="top_image_holder box" style="display:none;">
    <img src="" id="new_image_holder"/>
    <div class="options_list">
        <a onclick="show_more()" style="font-size:2em;"><i class="fas fa-search"></i></a>
    </div>
    <div class="overlay is-hidden">
        <svg class="" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 52 52"><circle class="checkmark__circle" cx="26" cy="26" r="25" fill="none" /><path class="checkmark__check" fill="none" d="M14.1 27.2l7.1 7.2 16.7-16.8" /></svg>
    </div>
</div>
<div class="box">
    <h1 class="title">Upload</h1>
    <h2 class="subtitle">Upload a new image for the world to enjoy!</h2>
    <form method="post" enctype="multipart/form-data" id="new_image_form">
        <input class="input" name="title" placeholder="Title" hidden/>
        <div class="field">
            <label><b>Tags</b></label>
            <p>You must tag the image you are uploading inorder for it to be valid</p>
            <p>If the tag does not exist, you will be asked to provide details about the tag. This is to help the server understand what it is</p>
            <!--  -->
            <div class="field has-addons">
                <div class="control">
                    <input class="input" type="text" id="tag_name" placeholder="Tag name">
                </div>
                <div class="control">
                    <a class="button is-info" id="tag_add" onclick="add_tag_to_server()">
                        Add
                    </a>
                </div>
            </div>
            <div class="control" id="tag_template" style="display:none;">
                <div class="tags has-addons">
                    <a class="tag is-link tag_name"></a>
                    <a class="tag is-delete"></a>
                </div>
            </div>

            <div class="field is-grouped is-grouped-multiline tag_holder">

            </div>
            <input placeholder="Tags" name="tags" id="tag_list" required hidden />
        </div>
        <div class="field">
            <div class="file has-name">
                <label class="file-label">
                    <input class="file-input" type="file" name="image" id="upload" required>
                    <span class="file-cta">
                        <span class="file-icon">
                            <i class="fas fa-upload"></i>
                        </span>
                        <span class="file-label">
                            Choose a file…
                        </span>
                    </span>
                    <span class="file-name" id="filename">
                        No file
                    </span>
                </label>
            </div>
        </div>
        <script>
            $('#upload').on('change', function () {
                // output raw value of file input
                $('#filename').html($(this).val().replace(/.*(\/|\\)/, ''));

                // or, manipulate it further with regex etc.
                var filename = $(this).val().replace(/.*(\/|\\)/, '');


                $('#filename').text(filename);
            });
            window.addEventListener('load', function () {
                document.querySelector('input[type="file"]').addEventListener('change', function () {
                    if (this.files && this.files[0]) {
                        var img = $('.top_image_holder > img')[0];
                        console.log(img)
                        img.src = URL.createObjectURL(this.files[0]); // set src to file url
                        img.onload = function () {
                            $('.top_image_holder').css('display', 'flex');
                            $('.overlay').removeClass('is-hidden');
                            $('.overlay > svg').addClass('checkmark');
                            setTimeout(function () { $('.overlay').fadeOut();},1700)
                        }
                    }
                });
            });

        </script>
        <label class="checkbox">
            <input type="checkbox" name="is_nsfw">
            This image is NSFW (Explicit).
        </label>
        <hr />
        <div class="field">
            <p><i>By uploading this image you agree to the following terms:<br />1) The image is your property only 2) The content is not illegal in the uploading country. If you break any of these rules then your account will be terminated and you will be banned from using the site.</i></p>
        </div>
        <label class="checkbox">
            <input type="checkbox" name="terms" required>
            I agree to the <a href="/terms">terms and conditions</a>. You also agree to the upload terms as listed above and <a href="/profile/upload/terms">here</a>
        </label>

        <br /><br /><button class="button is-success" id="submit_form">Upload</button>
    </form>
    <script>
        $('#submit_form').click(function () {
            var tags = []
            for (var i in window.tags) {
                tag_meta = window.tags[i];
                if (tag_meta) {
                    tags.push(tag_meta['tagID'])
                }
                
            }
            $('#tag_list').val(tags.join())
            $('#new_image_form').submit();
        })
    </script>
</div>
{% endblock %}