{% extends 'imports.html' %}
{% block content %}

<div class="modal">
    <div class="modal-background"></div>
    <div class="modal-content">
        <div class="box">
            <form id="new_tag_form">
                <h2 class="title">New Tag</h2>
                <h3 class="subtitle">Creating "<span class="tag_name"></span>"</h3>
                <hr />

                <input class="tag_name" name="tag_name" hidden />
                <label class="label">Type Of Tag</label>
                <div class="control">

                    <div class="select">
                        <select name="type" class="type_switcher">
                            <option value="character">Character</option>
                            <option value="fandom">Fandom</option>
                            <option value="kink" selected>Kink</option>
                            <option value="author">Artist</option>
                        </select>
                    </div>
                </div>
                <p class="help">This is to allow users to sort by type. For instance: "artist:Cerulean" or "fandom:Homesmut"<br />Other options may be avalible if you pick certain types</p>
                <br />
                <div class="type option_character is-hidden control">
                    <label class="label">Fandom</label>
                    <input class="input" name="fandom" placeholder="Fandom" />
                    <p class="help">This is optional </p>
                </div>
                <br />
                <a class="button is-success new_tag_confirm">Confirm</a>
            </form>
        </div>
    </div>
    
    <button class="modal-close is-large" aria-label="close"></button>
</div>

<style>
    .top_image_holder {
        width:100%;
        height:200px;
        display:flex;
        align-items:center;
        justify-content:center;
        position:relative;
        flex-flow:column
    }
    .top_image_holder > img {
        height:100%;
        width:auto;
    }
    .top_image_holder > .overlay {
        position:absolute;
        top:0;
        left:0;
        width:100%;
        height:100%;
        z-index:55;
        background:rgba(0,0,0,.4);
        display:flex;
        justify-content:center;
        align-items:center;

    }

    .options_list {
        position:absolute;
        top:0;
        right:0;
        margin:1em;
        z-index:4;
    }

    .checkmark__circle {
        stroke-dasharray: 166;
        stroke-dashoffset: 166;
        stroke-width: 2;
        stroke-miterlimit: 10;
        stroke: #7ac142;
        fill: none;
        animation: stroke 0.6s cubic-bezier(0.65, 0, 0.45, 1) forwards;
    }

    .checkmark {
        width: 56px;
        height: 56px;
        border-radius: 50%;
        display: block;
        stroke-width: 2;
        stroke: #fff;
        stroke-miterlimit: 10;
        margin: 10% auto;
        box-shadow: inset 0px 0px 0px #7ac142;
        animation: fill .4s ease-in-out .4s forwards, scale .3s ease-in-out .9s both;
    }

    .checkmark__check {
        transform-origin: 50% 50%;
        stroke-dasharray: 48;
        stroke-dashoffset: 48;
        animation: stroke 0.3s cubic-bezier(0.65, 0, 0.45, 1) 0.8s forwards;
    }

    @keyframes stroke {
        100% {
            stroke-dashoffset: 0;
        }
    }

    @keyframes scale {
        0%, 100% {
            transform: none;
        }

        50% {
            transform: scale3d(1.1, 1.1, 1);
        }
    }

    @keyframes fill {
        100% {
            box-shadow: inset 0px 0px 0px 30px #7ac142;
        }
    }

</style>
<script>
    window.tags = []
    $('.modal-background').click(function () {
        $('.modal').removeClass('is-active');
        reopen_tag_button()
    })
    $('.modal-close').click(function () {
        $('.modal').removeClass('is-active');
        reopen_tag_button()
    })
    function clean_up() {
        $('#tag_add').removeClass('is-loading');
        $('.modal').removeClass('is-active');
        $('#tag_name').val('');
        
    }

    function findObjectByKey(array, key, value) {
        for (var i = 0; i < array.length; i++) {
            try {
                if (array[i][key] === value) {
                    return array[i];
                }
            } catch (error) {
                console.log('rip')
            }
        }
        return null;
    }
    function deleteObjectByKey(array, key, value) {

        for (var i = 0; i < array.length; i++) {
            try {
                if (array[i][key].toString() === value.toString()) {
                    array[i] = null;
                }
            } catch (err) { }
        }
        return array
    }

    function delete_from_array(array, element) {
        return array.filter(e => e !== element);
    }

    function remove_tag(tagID) {
        window.tags = delete_from_array(window.tags, tagID)
        console.log(window.tags);
        render_tags();
    }

    function show_tag_form(tag_name) {
        var form = $('#new_tag_form');
        form.find('.tag_name').val(tag_name);
        $($('.tag_name')[0]).text(tag_name)
        $('.type_switcher').change(function () {
            $('.type').addClass('is-hidden');
            $('.option_' + this.value).removeClass('is-hidden');
        })
        $('.new_tag_confirm').click(function () {
            $.ajax({
                url: '/api/tags/create',
                method: 'POST',
                data: $('#new_tag_form').serialize()
            }).done(function (resp) {
                if (resp['success']) {
                    window.tags.push(resp['tag']);
                    render_tags();
                }
            })
        })
        $('.modal').addClass('is-active');
    }

    function add_tag_to_server() {
        var tag_name = $('#tag_name').val();
        $('#tag_add').addClass('is-loading');
        $.ajax({
            url: '/api/tags/check',
            method: 'POST',
            data: { 'tag_name': tag_name }
        }).done(function (data) {
            $('#tag_add').removeClass('is-loading');
            if (data['success']) {
                
                if (data['multiple_choice']) {
                    $('#multiple_choice').html(data['html'])
                } else {
                    clean_up()
                }

                if (data['needs_adding']) {
                    show_tag_form(tag_name);
                } else {
                    if (findObjectByKey(window.tags, 'tagID', data['tag']['tagID'])) {
                        show_notification('You have already added this tag!', 'is-warning')
                        return
                    }
                    // add tagID to window.tags
                    window.tags.push(data['tag']);
                    render_tags();
                }
            }
        })
    }

    function render_tags() {
        // clean up and re-render window.tags
        var holder = $('.tag_holder');
        $.ajax({
            url: '/api/tags/render_tag_list',
            method: 'POST',
            contentType: 'application/json; charset=utf-8',
            dataType: 'json',
            data: JSON.stringify(window.tags)
        }).done(function (resp) {
            clean_up()
            holder.html(resp['html'])
        })
    }
    function create_tag() {
        var tag_name = $('#tag_name').val()
        if (!tag_name) {
            show_notification('You need to have a tag name before creating a tag', 'is-warning')
        } else {
            show_tag_form(tag_name);
        }
    }
    function select_tag(tagID) {
        window.tags.push(tagID);
        render_tags();

        $('#multiple_choice').html('')
    }

    window.is_showing_more = false;
    function show_more() {
        if (window.is_showing_more) {
            window.is_showing_more = false;
            $('.top_image_holder').animate({ 'height': '-=225px' });
        } else {
            window.is_showing_more = true;
            $('.top_image_holder').animate({ 'height': '+=225px' });
        }

    }

    {% if request.args.get('terms', '0') == "1" %}
    show_notification('You must agree to the terms before uploading', 'is-error')
    {% endif %}
</script>
<div class="top_image_holder box" style="display:none;">
    <img src="" id="new_image_holder"/>
    <h1 class="subtitle" id="new_image_blury" style="display:none;margin-bottom:0;margin-top:1em;">Heads up! This image may be blury when shown to users with larger screens!</h1>
    <div class="options_list">
        <a onclick="show_more()" style="font-size:2em;"><i class="fas fa-search"></i></a>
    </div>
    <div class="overlay is-hidden">
        <svg class="" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 52 52"><circle class="checkmark__circle" cx="26" cy="26" r="25" fill="none" /><path class="checkmark__check" fill="none" d="M14.1 27.2l7.1 7.2 16.7-16.8" /></svg>
    </div>
</div>
<div class="box">
    <h1 class="title">Upload</h1>
    <h2 class="subtitle">Upload a new image for the world to enjoy!</h2>
    <form method="post" enctype="multipart/form-data" id="new_image_form">
        <div class="field is-centered" style="">
            <div class="file has-name">
                <label class="file-label">
                    <input class="file-input" type="file" name="image" id="upload" required>
                    <span class="file-cta">
                        <span class="file-icon">
                            <i class="fas fa-upload"></i>
                        </span>
                        <span class="file-label">
                            Choose a file…
                        </span>
                    </span>
                    <span class="file-name" id="filename">
                        No file
                    </span>
                </label>
            </div>
        </div>
        <div class="field is-horizontal">
            <div class="field-body">
                <div class="field">
                    <p class="control is-expanded">
                        <label class="label">Source URL</label>
                        <input class="input" name="source" type="text" placeholder="Source URL">
                        <span class="help"></span>
                    </p>
                </div>
                <div class="field">
                    <p class="control is-expanded">
                        <label class="label">Rating</label>
                        <span class="select is-expanded">
                            <select name="rating">
                                <option value="e" selected>[E] Explicit</option>
                                <option value="m">[M] Mature</option>
                            </select>
                        </span>
                        <span class="help"></span>
                    </p>
                </div>
            </div>
        </div>

        <div class="field">
            <label class="label">Tags</label>
            <!--  -->
            <div class="field has-addons is-expanded">
                <div class="control is-expanded">
                    <input class="input" type="text" id="tag_name" placeholder="Tag name">
                </div>
                <div class="control">
                    <a class="button is-info" id="tag_add" onclick="add_tag_to_server()">
                        Search
                    </a>
                </div>
                <div class="control">
                    <a class="button is-info" id="" onclick="create_tag()">
                        Create
                    </a>
                </div>
            </div>
            <div class="control" id="tag_template" style="display:none;">
                <div class="tags has-addons">
                    <a class="tag is-link tag_name"></a>
                    <a class="tag is-delete"></a>
                </div>
            </div>
            <div id="multiple_choice">

            </div>
            <div class="field is-grouped is-grouped-multiline tag_holder">

            </div>
            <input placeholder="Tags" name="tags" id="tag_list" required hidden />
        </div>

        <script>
            $('#upload').on('change', function () {
                // output raw value of file input
                $('#filename').html($(this).val().replace(/.*(\/|\\)/, ''));

                // or, manipulate it further with regex etc.
                var filename = $(this).val().replace(/.*(\/|\\)/, '');


                $('#filename').text(filename);
            });
            window.addEventListener('load', function () {
                document.querySelector('input[type="file"]').addEventListener('change', function () {
                    if (this.files && this.files[0]) {
                        $('#new_image_blury').css('display', 'none')
                        var img = $('.top_image_holder > img')[0];
                        console.log(img)
                        img.src = URL.createObjectURL(this.files[0]); // set src to file url
                        img.onload = function () {
                            $('.top_image_holder').css('display', 'flex');
                            $('.overlay').removeClass('is-hidden');
                            $('.overlay > svg').addClass('checkmark');
                            setTimeout(function () { $('.overlay').fadeOut(); }, 1700)
                            if (this.naturalWidth < 250) {
                                // image might be blury
                                $('#new_image_blury').css('display', 'block')
                            }
                        }
                    }
                });
            });

        </script>
        <hr />
        <label class="checkbox">
            <input type="checkbox" name="terms" required>
            I agree that my image does not break any of the rules inside QuartzBoard's <a href="/terms">terms of service</a>.
        </label>

        <br /><br /><button class="button is-success" id="submit_form">Upload</button>
    </form>
    <script>
        $('#submit_form').click(function () {
            var tags = []
            for (var i in window.tags) {
                tag_meta = window.tags[i];
                if (tag_meta) {
                    tags.push(tag_meta['tagID'])
                }
                
            }
            $('#tag_list').val(tags.join())
            $('#new_image_form').submit();
        })
    </script>
</div>
{% endblock %}