{% extends './imports.html' %}
{% from './macros/tag_form.html' import tag_form with context %}
{% from './macros/tag_form_modal.html' import tag_form_modal with context %}

{% block head %}
<script src="/static/js/humanize.js"></script>
{% endblock %}
{% block content %}
<!-- CALL THE MODAL CODE ASAP!! -->
{{tag_form_modal()}}

<!-- BEGIN UPLOAD CODE -->
<style>
    .top_image_holder {
        width: 100%;
        height: 200px;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        flex-flow: column
    }

        .top_image_holder > img {
            height: 100%;
            width: auto;
        }

        .top_image_holder > .overlay {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 55;
            background: rgba(0,0,0,.4);
            display: flex;
            justify-content: center;
            align-items: center;
        }

    .options_list {
        position: absolute;
        top: 0;
        right: 0;
        margin: 1em;
        z-index: 4;
    }

    .checkmark__circle {
        stroke-dasharray: 166;
        stroke-dashoffset: 166;
        stroke-width: 2;
        stroke-miterlimit: 10;
        stroke: #7ac142;
        fill: none;
        animation: stroke 0.6s cubic-bezier(0.65, 0, 0.45, 1) forwards;
    }

    .checkmark {
        width: 56px;
        height: 56px;
        border-radius: 50%;
        display: block;
        stroke-width: 2;
        stroke: #fff;
        stroke-miterlimit: 10;
        margin: 10% auto;
        box-shadow: inset 0px 0px 0px #7ac142;
        animation: fill .4s ease-in-out .4s forwards, scale .3s ease-in-out .9s both;
    }

    .checkmark__check {
        transform-origin: 50% 50%;
        stroke-dasharray: 48;
        stroke-dashoffset: 48;
        animation: stroke 0.3s cubic-bezier(0.65, 0, 0.45, 1) 0.8s forwards;
    }

    @keyframes stroke {
        100% {
            stroke-dashoffset: 0;
        }
    }

    @keyframes scale {
        0%, 100% {
            transform: none;
        }

        50% {
            transform: scale3d(1.1, 1.1, 1);
        }
    }

    @keyframes fill {
        100% {
            box-shadow: inset 0px 0px 0px 30px #7ac142;
        }
    }
</style>


<p class="title is-4">Preview</p>
<div class="top_image_holder box" style="overflow-y:scroll;display:flex;flex-flow:wrap;height:250px">

    <h1 class="title has-text-centered is-4 is-info" id="no_img_warn">No Images Selected</h1>
    <div class="options_list">
        <a onclick="show_more()" style="font-size:2em;"><i class="fas fa-search"></i></a>
    </div>
    <div class="overlay is-hidden">
        <svg class="" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 52 52"><circle class="checkmark__circle" cx="26" cy="26" r="25" fill="none" /><path class="checkmark__check" fill="none" d="M14.1 27.2l7.1 7.2 16.7-16.8" /></svg>
    </div>
</div>
<div class="box">
    <h1 class="title">Bulk Upload</h1>
    <h2 class="subtitle">Upload a new collection for the world to enjoy!</h2>
    <form method="post" enctype="multipart/form-data" id="new_image_form">
        <div class="field is-centered" style="flex-flow:column">
            <div class="file has-name">
                <label class="file-label">
                    <input class="file-input" type="file" name="images" id="upload" required multiple>
                    <span class="file-cta">
                        <span class="file-icon">
                            <i class="fas fa-upload"></i>
                        </span>
                        <span class="file-label">
                            Choose more than 1 file...
                        </span>

                    </span>
                    <span class="file-name">
                        Images only. No GIF's or WEBM's for now
                    </span>
                </label>
            </div>
            <br />
            <p><span id="file_size">0MB</span> / 8MB max</p>
        </div>
        <div class="field is-horizontal">
            <div class="field-body">
                <div class="field">
                    <p class="control is-expanded">
                        <label class="label">Source URL</label>
                        <input class="input" name="source" type="text" placeholder="Source URL">
                        <span class="help">If you have muiltiple sources, you can manually set them in the image's edit page!</span>
                    </p>
                </div>
                <div class="field">
                    <p class="control is-expanded">
                        <label class="label">Rating</label>
                        <span class="select is-expanded">
                            <select name="rating">
                                <option value="e" selected>[E] Explicit</option>
                                <option value="m">[M] Mature</option>
                            </select>
                        </span>
                        <span class="help"></span>
                    </p>
                </div>
            </div>
        </div>

        {{tag_form()}}

        <script>
            window.is_showing_more = false;
            function show_more() {
                if (window.is_showing_more) {
                    window.is_showing_more = false;
                    $('.top_image_holder').animate({ 'height': '-=725px' });
                } else {
                    window.is_showing_more = true;
                    $('.top_image_holder').animate({ 'height': '+=725px' });
                }

            }
            $('#upload').on('change', function () {
                // output raw value of file input
                $('#filename').html($(this).val().replace(/.*(\/|\\)/, ''));

                // or, manipulate it further with regex etc.
                var filename = $(this).val().replace(/.*(\/|\\)/, '');


                $('#filename').text(filename);
            });
            window.addEventListener('load', function () {
                document.querySelector('input[type="file"]').addEventListener('change', function () {
                    var total_size = 0;
                    $('.smut.thumbnail').remove();
                    var total_images = 0;
                    if (this.files) {
                        $('#no_img_warn').css('display', 'none');
                        for (var i in this.files) {
                            if (total_images == 20) {
                                show_notification('Max 20 images per bulk upload. We\'re sorry :c', 'is-danger')
                            } else {
                                total_images += 1;

                                var file = this.files[i];

                                $('#new_image_blury').css('display', 'none')
                                var obj = $('<div class="smut thumbnail"><img /></div>');
                                var img = $(obj).find('img')[0];
                                var is_valid = true;
                                try {
                                    $(img).attr('src', URL.createObjectURL(file))// = ; // set src to file url
                                } catch (e) {
                                    is_valid = false;

                                }
                                if (is_valid) {
                                    total_size = total_size + file.size
                                    console.log(obj)
                                    $('.top_image_holder').append(obj);
                                    img.onload = function () {
                                        $('.top_image_holder').css('display', 'flex');
                                        $('.overlay').removeClass('is-hidden');
                                        $('.overlay > svg').addClass('checkmark');
                                        setTimeout(function () { $('.overlay').fadeOut(); }, 1700)
                                        if (this.naturalWidth < 250) {
                                            // image might be blury
                                            $('#new_image_blury').css('display', 'block')
                                        }
                                    }
                                    //$('.top_image_holder').append(img);
                                }
                            }
                        }
                        $('#file_size').text(Humanize.fileSize(total_size))
                    }
                });
            });
        </script>
        <div class="fields">
            <div class="field">
                <label class="label">Collection - {{user_collections|length}} Available</label>
                <div class="select">
                    <select name="collection">
                        <option selected value="dont">Dont Import</option>
                        {% for collection in user_collections %}
                        <option value="{{collection.collectionID}}">{{collection.title}}</option>
                        {% endfor %}
                    </select>
                </div>
                <p class="help">This will automaticly import into the collection.</p>
            </div>
            <a onclick="$('#new_col').slideToggle()">Click here to create a new collection</a>
            <div class="field" style="display:none;" id="new_col">
                <hr />
                <p class="help">By creating a collection, this will bring all of the images into a single "folder" where you can organise them. Depending on the mode you pick, they may not be able to be seen in the search and index pages.<br />If the mode is show, all images are shown and a little notification at the top will be shown with the image. <br />To remove an image from the collection, you must go to the edit page and then remove the image</p>
                <br />
                <div class="field">
                    <label class="checkbox">
                        <input type="checkbox" name="new_collection_confirm">
                        Create a new collection
                    </label>
                </div>
                <div class="field">
                    <label class="label">Title</label>
                    <input name="new_collection_title" placeholder="Title" class="input" />
                </div>
                <div class="field">
                    <label class="label">Collection Mode</label>
                    <div class="select is-fullwidth">
                        <select name="new_collection_mode">
                            <option value="default" selected>"Default" Mode (Hides all pages except from the cover (first) page in any searches)</option>
                            <option value="hidden">"Hidden" mode (Hides all pages from searches. Only readable via a direct link)</option>
                            <option value="show">"Show" mode (All images inside the collection are visable in searches)</option>
                        </select>
                    </div>
                </div>
                <p class="help">This will create a new collection and import the images instantly</p>
            </div>
        </div>
        <hr />
        <label class="checkbox">
            <input type="checkbox" name="terms" required>
            I agree that none of my images break the rules inside of QuartzBoard's <a href="/terms">terms of service</a>.
        </label>
        <br /><br /><button class="button is-success" id="submit_form">Upload All!</button>
    </form>
    <script>
        $('#submit_form').click(function () {
            var tags = []
            for (var i in window.tags) {
                tag_meta = window.tags[i];
                if (tag_meta) {
                    tags.push(tag_meta['tagID'])
                }

            }
            $('#tag_list').val(tags.join())
            $('#new_image_form').submit();
        })
    </script>
</div>
{% endblock %}