{% extends 'imports.html' %}
{% block head %}
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue"></script>
{% endblock %}
{% from './macros/image_list.html' import render_quartz_list with context %}
{% block content %}
<style>
    .image_container {
        display: flex;
        flex-flow: wrap;
    }

        .image_container > img {
            margin: 10px;
            font-size: 0px;
            cursor: pointer;
            max-height: 200px;
            width: auto;
        }
</style>
<div>
    {% if broken_tags %}
    <div class="notification is-danger">
        The following tags do not exist: {% for tag in broken_tags %}{{tag}}, {% endfor %}
    </div>
    {% endif %}
    <h1 class="title is-4">Search Results</h1>
    {% if results.evaluated_tags %}
    <div class="tags">
        {% for tag in results.evaluated_tags %}
        {{tag_solo(tag, fetch=True, show_like=False)}}
        <div style="margin:0.5em"></div>
        {% endfor %}
    </div>
    {% endif %}
    {% if is_collection %}
    <p>Returning only collections</p>
    {% endif %}
    <script>
        function update_query_string(key, value, url) {
            if (!url) url = window.location.href;
            var re = new RegExp("([?&])" + key + "=.*?(&|#|$)(.*)", "gi"),
                hash;

            if (re.test(url)) {
                if (typeof value !== 'undefined' && value !== null)
                    return url.replace(re, '$1' + key + "=" + value + '$2$3');
                else {
                    hash = url.split('#');
                    url = hash[0].replace(re, '$1$3').replace(/(&|\?)$/, '');
                    if (typeof hash[1] !== 'undefined' && hash[1] !== null)
                        url += '#' + hash[1];
                    return url;
                }
            }
            else {
                if (typeof value !== 'undefined' && value !== null) {
                    var separator = url.indexOf('?') !== -1 ? '&' : '?';
                    hash = url.split('#');
                    url = hash[0] + separator + key + '=' + value;
                    if (typeof hash[1] !== 'undefined' && hash[1] !== null)
                        url += '#' + hash[1];
                    return url;
                }
                else
                    return url;
            }
        }
        function goto_page(page_number) {
            window.location = update_query_string('page', page_number)
        }
    </script>
    {% if results.results %}
    <div class="buttons has-addons">
        {% if current_page|int != 1 %}
        <span class="button" onclick="goto_page('{{current_page|int - 1}}')">Previous Page</span>
        {% endif %}
        {% if results.results|length == 20 %}
        <span class="button" onclick="goto_page('{{current_page|int + 1}}')">Next Page</span>
        {% endif %}
    </div>

    {% endif %}
    <div class="image_container">
        {% if results.results %}
        {{render_quartz_list(results.results)}}
        {% else %}
        <div class="notification is-warning">
            No results found
        </div>

        {% endif %}
    </div>
</div>
{% endblock %}