{% extends 'imports.html' %}
{% from './macros/vue/blur_image.html' import vue_blur_image %}

{% block head %}
<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:site" content="@Quartz_" />
<meta name="twitter:title" content="" />
<meta name="twitter:description" content="{{db.get_tags_string(image_meta.tags)}}" />
<meta name="twitter:image" content="{{quartz_config.get('cdn_url') or ''}}/api/image/{{image_meta.fileID}}" />

<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="https://cdn.rawgit.com/rikmms/progress-bar-4-axios/0a3acf92/dist/index.js"></script>
<script>loadProgressBar()</script>
<script src="https://cdn.jsdelivr.net/npm/vue"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.rawgit.com/rikmms/progress-bar-4-axios/0a3acf92/dist/nprogress.css" />
{% endblock %}
{% block sidebar %}
<div class="column is-3">
    {{search_bar()}}
    <h1 class="subtitle is-5" style="margin:0;padding:0;">Tags</h1>
    <br />
    <script>
        function like_tag(tagID) {
            $.ajax({ url: '/api/tags/' + tagID + '/like' }).done(function (resp) {
                if (resp['success']) {
                    show_notification('You have liked this tag', 'is-success');
                } else {
                    show_notification(resp['msg'], 'is-success');
                }
            })
        }
        function unlike_tag(tagID) {
            $.ajax({ url: '/api/tags/' + tagID + '/unlike' }).done(function (resp) {
                if (resp['success']) {
                    show_notification('You have unliked this tag', 'is-success');
                } else {
                    show_notification(resp['msg'], 'is-success');
                }
            })
        }
    </script>
    <style>
        .tags {
            margin-bottom: 0 !important;
        }
    </style>
    <div style="display:flex;flex-flow:column">
        {% if image_meta.tags %}
        {{ tag_list(image_meta.tags) }}
        {% else %}
        <div class="notification is-danger">
            No tags selected
        </div>
        {% endif %}
    </div>
    <hr />
    <h1 class="subtitle is-5">Info</h1>
    {% with author = db.get_user(image_meta.userID) %}
    <a href="/profile/{{author.userID}}"><b>Uploaded by: {{author.username}}</b></a>

    <p class="tooltip is-info" data-tooltip="{{image_meta.uploaded_at}}"><b>Uploaded: {{time_to_human(image_meta.uploaded_at)}}</b></p>
    <p><b>Views: {{image_meta.views|length}}</b></p>
    <p><b>Source: {{image_meta.source or "No Source"}}</b></p>
    <p><b>Rating: {{image_utils.get_rating(image_meta.get("rating"))}}</b></p>
    {% if g.debug_req %}
    <p><b>Storage Location: {{image_meta.location}}</b></p>
    {% endif %}



    {% if author.get('sidebar').content %}
    <hr />
    <h1 class="subtitle">About The Author</h1>
    <div>
        {{md(user.get('sidebar', {}).get("content", ""), safe_mode="remove")|safe}}
    </div>
    {% endif %}
    {% endwith %}


    {% if is_logged_in %}
    {% if user.role.has("delete_image") %}
    <hr />
    <a href="/api/image/{{image_meta.fileID}}/delete">Delete image</a>
    {% endif %}
    {% endif %}
</div>
{% endblock %}
{% block content %}
{{vue_blur_image()}}
<div class="mobile_flip" id="image_app">
    {% with author = get_user(image_meta['userID']) %}
    <div class="" style="display:flex;align-items:center;justify-content:flex-start;width:100%;">
        <img id="img" src="{{quartz_config.get('cdn_url') or ''}}/api/image/{{image_meta.fileID}}" small-src="{{quartz_config.get('cdn_url') or ''}}/api/image/{{image_meta.fileID}}/thumbnail" class="image smut" style="width:100%;max-width:750px;" />
    </div>
    <p>Click for full image</p>
    {% if collection %}
    <div class="box is-info">
        <style>
            .smut.small {
                width: auto;
                height: 128px;
            }
        </style>
        <div style="display:flex;flex-flow:column;">
            <!-- Show the first 4 images of the collection -->
            <h1 class="subtitle is-5" style="margin:0;">{{collection.title}}</h1>
            This collection has {{collection.images|length}} images
            <div style="display:flex;flex-flow:row">
                {% for image in collection.images[:4] %}
                <a class="smut small thumbnail" href="/collection/{{collection.collectionID}}">
                    <img src="/api/image/{{image}}/thumbnail" />
                </a>
                {% endfor %}
            </div>
        </div>
    </div>
    {% endif %}
    <script>
        var image_app = new Vue({
            el: '#image_app'
        })
    </script>
</div>
{% endwith %}
{% endblock %}