{% extends 'imports.html' %}
{% block head %}
<meta property="og:title" content="{{image_meta.title}}" />
<meta property="twitter:image" content="/api/image/{{image_meta.fileID}}" />

{% endblock %}
{% block sidebar %}
<script>
    function add_tag(tag_name) {
        if ($('#search_bar').val()) {
            $('#search_bar').val($('#search_bar').val() + ' ' + tag_name)
        } else {
            $('#search_bar').val(tag_name)
        }
        
    }
    function toggle_width() {
        if (window._width == 'smol') {
            window._width = 'big';
            $('#img').css('height', '100%')

        }
        else {
            window._width = 'smol';
            $('#img').css('max-height', '750px')
        }
    }
    window._width = 'smol'
</script>
<h1 class="subtitle is-4" style="margin:0;padding:0;">Tags</h1>
{% for tag in image_meta.tags %}
{% with tag = db.get_tag(tag) %}
{% if not loop.index == 1%}<br />{% endif %}<a onclick="add_tag('{{tag.name}}')">+ {{tag.name}}</a>
{% endwith %}
{% endfor %}

{% endblock %}
{% block content %}
{% with author = get_user(image_meta['userID']) %}
<div class="box">
    <img id="img" src="/api/image/{{image_meta.fileID}}" class="image" style="max-height:750px;" />
    <div class="columns">
        <div class="column">
            <h1 class="title" style="margin-top:10px;">{{image_meta.title}}</h1>
            <h2 class="subtitle">Uploaded by {{author.username}}</h2>
            <h4 class="subtitle is-5">{{db.get_image_views(image_meta.fileID)}} Views</h4>
        </div>
        <div class="column">

        </div>
    </div>
    <p>
        Tags:
        {% for tagID in image_meta.tags %}
        {% with tag = get_tag(tagID) %}
        <a href="/search?tags={{tag['name']}}">{{tag['name']}}</a>,
        {% endwith %}
        {% endfor%}
    </p>
</div>
{% endwith %}
{% endblock %}