{% macro render_quartz_list(items, small=False) %}
<script src="https://quartz.nyc3.cdn.digitaloceanspaces.com/js/webp.js"></script>
<script>
    var WebpToCanvas;

    function init() {
        WebpToCanvas = Module.cwrap('WebpToSDL', 'number', ['array', 'number']);
    }

    function decode(webp_data, canvas_id) {
        // get the canvas to decode into
        var canvas = document.getElementById(canvas_id);
        if (canvas == null) return;
        // clear previous picture (if any)
        Module.canvas = canvas;
        canvas.getContext('2d').clearRect(0, 0, canvas.width, canvas.height);
        // decode and measure timing
        start = new Date();
        var ret = WebpToCanvas(webp_data, webp_data.length);
        end = new Date();
        speed_result = document.getElementById('timing');
        // display timing result
        if (speed_result != null) {
            var decode_time = end - start;
            speed_result.innerHTML = '<p>decoding time: ' + decode_time + ' ms.</p>';
        }
    }
    var queue = []
    function loadfile(filename, canvas_id) {
        var xhr = new XMLHttpRequest();
        xhr.open('GET', filename);
        xhr.responseType = 'arraybuffer';
        xhr.onreadystatechange = function () {
            if (xhr.readyState == 4 && xhr.status == 200) {
                var webp_data = new Uint8Array(xhr.response);
                decode(webp_data, canvas_id);
            }
        };
        xhr.send();
    }
    function addToQueue(filename, canvID) {
        queue.push([filename, canvID])
    }
    
    $(document).ready(() => {
        init();
        for (var i in queue) {
            var data = queue[i];

            window.loadfile(data[0], data[1])
        }
    })
</script>
<!-- Requires a pre-sorted list of objects that represent either an image or a collection object -->
{% for item in items %}
{% if item.get('fileID') %}
<!-- Item is of type "Image" -->
{% with collection = db.check_collections_for_image(item.fileID) %}

{% if collection %}
{% if collection.mode == 'show' %}
<!-- Only show the image if the mode is private and it is the first item in the collection -->
<!-- Item is apart of a collection -->

<a class="smut thumbnail" href="/collection/{{collection.collectionID}}{% if collection.mode == 'show' %}?goto_page={{item.fileID}}{% endif %}" style="position:relative;">
    <img src="{{quartz_config.get('cdn_url', '')}}/api/image/{{item.fileID}}/thumbnail{%if is_chrome%}?format=webp{%endif%}" />
    <span class="tag" style="position:absolute;right:5px;top:5px;">{{collection.title}} | {{db.get_index_of_image(collection, item.fileID) + 1}}</span>
</a>

{% endif %}
{% else %}
<!-- If item is not in a collection -->
{% if item.status != 'private' %}
<a class="smut thumbnail" href="/image/{{item.fileID}}">
    <canvas id="canv_{{item.fileID}}"></canvas>
    <!-- {{quartz_config.get('cdn_url', '')}}/api/image/{{item.fileID}}/thumbnail?format=webp -->
    <script>
        addToQueue("{{quartz_config.get('cdn_url', '')}}/api/image/{{item.fileID}}/thumbnail?format=webp&cache_buster={{db.make_id(length=4)}}", 'canv_{{item.fileID}}')
    </script>
</a>
{% endif %}
{% endif %}
{% endwith %}
{% endif %}
{% if item.get('collectionID') %}
{% if item.mode not in ['hidden', 'show'] and item.images %}
<a class="smut thumbnail" href="/collection/{{item.collectionID}}" style="position:relative">
    
    <img src="{{quartz_config.get('cdn_url', '')}}/api/image/{{item.images[0]}}/thumbnail{%if is_chrome%}?format=webp{%endif%}" />
    <span class="tag" style="position:absolute;right:5px;top:5px;">{{item.title}} | {{item.images|length}}</span>
</a>
{% endif %}
{% endif %}
{% endfor %}
{% endmacro %}