{% extends 'imports.html' %}
{% block head %}
<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:site" content="@Quartz_" />
<meta name="twitter:title" content="{{collection.title or 'Quartz Collection'}}" />
<meta name="twitter:description" content="{{db.get_tags_string(image_meta.tags)}}" />
<meta name="twitter:image" content="/api/image/{{image_meta.fileID}}" />
{% endblock %}
{% block sidebar %}
<div class="column is-3">
    {{search_bar()}}
    <h1 class="subtitle is-5" style="margin:0;padding:0;">Tags</h1>
    <br />
    <script>
        function like_tag(tagID) {
            $.ajax({ url: '/api/tags/' + tagID + '/like' }).done(function (resp) {
                if (resp['success']) {
                    show_notification('You have liked this tag', 'is-success');
                } else {
                    show_notification(resp['msg'], 'is-success');
                }
            })
        }
        function unlike_tag(tagID) {
            $.ajax({ url: '/api/tags/' + tagID + '/unlike' }).done(function (resp) {
                if (resp['success']) {
                    show_notification('You have unliked this tag', 'is-success');
                } else {
                    show_notification(resp['msg'], 'is-success');
                }
            })
        }
    </script>

    <div style="display:flex;flex-flow:column">
        {{ tag_list(image_meta.tags, column=True) }}
    </div>
    <hr />
    <h1 class="subtitle is-5">Info</h1>
    {% with author = db.get_user(image_meta.userID) %}
    <a href="/profile/{{author.userID}}"><b>Uploaded by: {{author.username}}</b></a>

    <p class="tooltip is-info" data-tooltip="{{image_meta.uploaded_at}}"><b>Uploaded: {{time_to_human(image_meta.uploaded_at)}}</b></p>
    <p><b>Views: {{image_meta.views|length}}</b></p>
    <p><b>Source: {{image_meta.source or "No Source"}}</b></p>
    <p><b>Rating: {{image_utils.get_rating(image_meta.get("rating"))}}</b></p>
    {% if g.debug_req %}
    <p><b>Storage Location: {{image_meta.location}}</b></p>
    {% endif %}
    <hr />
    {% if author.get('sidebar').content %}
    <h1 class="subtitle">About The Author</h1>
    <div>
        {{md(user.get('sidebar', {}).get("content", ""), safe_mode="remove")|safe}}
    </div>
    {% endif %}
    {% endwith %}

    {% if is_logged_in %}
    {% if user.role.has("delete_image") %}
    <hr />
    <a href="/api/image/{{image_meta.fileID}}/delete">Delete image</a>
    {% endif %}
    {% endif %}
</div>
{% endblock %}
{% block content %}
{% with author = get_user(image_meta['userID']) %}
<nav class="level">
    <!-- Left side -->
    <div class="level-left">
        <div class="level-item">
            <p class="subtitle is-5">
                <b>{{collection.title}}</b> | <strong>{{collection.images|length}}</strong> image{% if collection.images|length > 1 %}s{% endif %}
            </p>
        </div>
        <div class="level-item">
            <div class="control has-icons-left">
                <div class="select">
                    <select>
                        <option>English</option>
                        <option>Japanese</option>
                    </select>
                </div>
                <span class="icon is-left">
                    <i class="fas fa-globe"></i>
                </span>
            </div>
        </div>
    </div>

    <!-- Right side -->
    <div class="level-right">

        <div class="level-item">
            <span class="tag is-info" style="margin-right:1em;">BETA</span>
            <p class="subtitle is-5">
                <b>Page {{page}}</b>
            </p>
        </div>
        {% if page != 0 %}
        <a class="level-item button" href="/collection/{{collection.collectionID}}?page={{page - 1}}">Previous</a>
        {% endif %}
        {% if page != collection.images|length %}
        <a class="level-item button" href="/collection/{{collection.collectionID}}?page={{page + 1}}">Next</a>
        {% endif %}
    </div>
</nav>
<hr />
<div class="" style="display:flex;align-items:center;justify-content:center;width:100%;">
    <img id="img" src="/api/image/{{image_meta.fileID}}" class="image" style="width:100%;max-width:750px;" onclick="window.location = '/api/image/{{image_meta.fileID}}'"/>
    
</div>
<p>Click for full image</p>
<hr />
<div class="box">
    <h1 class="subtitle">Comments</h1>
    <p>Coming soon</p>
</div>
{% endwith %}
{% endblock %}