{% extends 'imports.html' %}
{% block content %}
<div class="box">
    <h1 class="title">About Us</h1>
    <p>Project Quartz was made by these people:</p>
    <div class="columns">
        <div class="column">
            <div class="card">
                <div class="card-image">
                    <figure class="image is-1by1">
                        <img src="https://cdn.discordapp.com/avatars/190092287722651648/18d5c9e5cf3a3658b6eb8d9eb48c4903.png" alt="Placeholder image">
                    </figure>
                </div>
                <div class="card-content">
                    <div class="media">
                        <div class="media-content">
                            <p class="title is-4">Ceru</p>
                            <p class="subtitle is-6">@Cerulean#7014</p>
                        </div>
                    </div>

                    <div class="content">
                        Programmer & Owner
                    </div>
                </div>
            </div>
        </div>
        <div class="column">
        </div>
        <div class="column">

        </div>
    </div>
</div>
{% endblock %}