{% extends 'imports.html' %}
{% block content %}
<style>
    @media only screen and (max-width: 366px) {
        .image_handler {
            width:100%;
            height:175px;
            margin:0;
        }
        .image_result {
            max-height:175px;
            width:auto;
        }
    }
</style>
<h1 class="title">Recent uploads</h1>

<div class="image_container">
    {% for image in images %}
    <div class="smut thumbnail">
        <img class="" onclick="open_image('{{image.fileID}}')" src="/api/image/{{image.fileID}}/thumbnail" style="">
    </div>
    {% endfor %}
</div>
<br />
<div>
    <h1 class="title">Links</h1>
    <div class="box">
        <div class="columns">
            <div class="column">
                <img class="image is-128x128" onclick="window.location = 'https://www.patreon.com/quartz_'" src="https://c5.patreon.com/external/logo/downloads_logomark_color_on_white@2x.png"/>
            </div>
        </div>
    </div>
</div>
<br />
<div>
    <h1 class="title">News</h1>
    <div class="box">
        <h2 class="subtitle">Looking for help</h2>
        <p>Hey everyone! I am looking for people to help me out with the project. I need people to help me nail down some marketing stuff, sharing and adverting for instance. Unfortunately, i cant pay you right away but i can offer a place on the team as a highly valued person. </p>
        <p>If you feel like you can offer some help towards the project, please contact me @Cerulean#7014 on Discord</p>
    </div>
</div>
{% endblock %}