{% extends 'imports.html' %}
{% block content %}
<h1 class="title">Recent uploads</h1>

<div class="image_container">

    {% for image in images %}
    <img class="image" onclick="open_image('{{image.fileID}}')" src="/api/image/{{image.fileID}}/thumbnail">
    {% endfor %}
</div>
<div>
    <h1 class="title">News</h1>
    <div class="box">
        <h2 class="subtitle">Alpha Build Ready</h2>
        <p>The alpha build of Project Quartz is ready to go public. Obviously this isnt 100% perfect but its a good start towards something pretty good.</p>
        <p>There is still a few things that are needed to be done before i am comfortable moving this into the Beta phase. But as of right now, you can upload and share images</p>
        <p>One critical problem is that you are upload an infinite amount of files to the CDN. Which is not good. Because of this fact, i will be turning off new accounts until i have this be resolved.</p>
        <br />
        <p>I want to also stress that this site cannot function without support from Patreon or PayPal. If you like what we are doing here and want to help contribute towards the project, you can head towards: <a href="https://www.patreon.com/ctz">our patreon here</a></p>
    </div>
</div>
{% endblock %}