<div class="field is-grouped is-grouped-multiline">
    {% for tag in tags %}
    
    <div class="control">
        <div class="tags has-addons">
            <span class="tag is-dark">{{tag.type}}</span>
            {% if tag.type == 'fandom' or tag.colour == 'blue' %}
            <span class="tag is-info">{{tag.name}}</span>
            {% endif %}
            {% if tag.type == 'character' or tag.colour == 'red' %}
            <span class="tag is-danger">{{tag.name}} {% if tag.fandom %} ({{tag.fandom_internal}}){% endif %}</span>
            {% endif %}
            {% if tag.type == 'kink' or tag.colour == 'yellow' %}
            <span class="tag is-warning">{{tag.name}}</span>
            {% endif %}
            {% if tag.type == 'author' or tag.colour == 'green' %}
            <span class="tag is-success">{{tag.name}}</span>
            {% endif %}
            <a class="tag is-delete" onclick="remove_tag('{{tag.tagID}}')"></a>
        </div>
    </div>
    {% endfor %}
</div>